Notes from round 1 testing:
1. Need to make data library right clickable, and need warnings for when memory starts to get big
2. Fix optocontrol table
3. Make display widgets not reload so autoscaling, etc. persists
4. Low priority: shortucts (ctrl P to preview mask, for example) and docs
5. Maybe: move selected AIs to DAQ parameters? 